html,body{
    /* background:rgb(252, 184, 184); */
    background-image: url('https://cdn4.vectorstock.com/i/1000x1000/48/18/red-blue-white-star-sparkles-american-background-vector-23824818.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 50px;
    text-align:center !important;
    width: 100%;
    height:100%;
    margin: 0 0 0 0 !important
}

#bg{
    position: absolute;
    width:100vw;
    height:100vh;
    background-image: url("images/.jpg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

#main_content{
    position: relative;
    text-align: center;
    color: white;
    top:50vh;
    /* make it your own.. doesn't necessarily have to ve text-align center */
}

.tint{
    position: absolute;
    width: 100vw;
    height:100vh;
    background:rgba(0,0,0,0.75)
    /* hover over the 0,0,0 to choose color and transparency (the last value=how transparent the background will be */

}
#navbar{
    background: rgb(201, 98, 201) !important;
}
/* 
#navbar a{
    text-decoration: none; 
} */

h1{
    color:rgb(0, 0, 0)
}


#heading{
    font-size: 2em;
}

.red_heading{
    color:#fafafa;
}

#hello{
    font-size: 1em;
}

#boardwalk{
    width: 30vw;
}

/* position: relative positioning means the object being positioned is correspondent to the (normal position) grandparent, parent, or child section {does not move when adjusting screen size}--> */
    /* DON'T USE NEGATIVE NUMBERS FOR RELATIVE POSITIONING */
/* position: absolute positioning means the object being positioned is relative to the viewport (aka the size of the entire computer screen) {moves as you adjust screen size}  --> */

/* z-index: the higher the number applied to the element, the higher the priority/forward that element appears on screen
    controls how forward an element is/the layering order */
    /* only works for positioned elements */

/* bootstrap 4-CDN (must paste in index.html,in between the two heads, and under link rel="stylesheet"
CSS=cascading style sheet
    cascading=waterfall; the code reads it from top of page to bottom, so line order matters */

/* "images/____.jpg" --> Choose your image from the image folder in the left margins */

/* A STUDENT CAN HAVE MULTIPLE CLASSES, BUT A STUDENT CAN ONLY HAVE ONE ID */

/* bootstrap navbar: bg-dark or navbar-dark controls whether there's a background color behind the navbar */

/* Creating a Hero (background for home page):navbar */